<!doctype html>
<html ng-app="bebotApp">
  <head>
    <title>BeBot</title>
		<link rel="stylesheet" href="public/stylesheets/layout.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>    <script src="/socket.io/socket.io.js"></script>
		<script src="https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js"></script>    <script src="/socket.io/socket.io.js"></script>
    <script src="public/javascripts/custom.js"></script>
    <script src="public/javascripts/ai.js"></script>

  </head>

  <body ng-controller="AppCtrl as appCtrl">
    <div class="icon_div">
        <img src="public/images/Logo.png" class="bebot_Logo"/>
      </div>
      <div class="chat_container">
				<form ng-submit="appCtrl.sendMessage()">
        
        <div class="text_area">

          <div class="intent_message" ng-repeat="message in appCtrl.messages track by $index" ng-class="{'bebot_message': message.from === 'BeBot'}">
            <img src="public/images/Bebot_icon.png" class="bebot_icon" ng-if="message.from === 'BeBot'" />
            <div>
							{{ message.msg }}
            </div>
          </div>

					<div class="typing" align="left"><em ng-show="appCtrl.busy">BeBot is typing...</em></div>
          <br />
          <a id="bottom"></a>
					<!--<div class="loader" ng-show="appCtrl.busy">...</div>-->
					
        </div>

        <div style=" position: absolute; left: 50px; bottom: 20px;">
            <input class="intent" type="text" placeholder="Say Something...." ng-model="appCtrl.chatBox" />
            <button class="sendbutton">
                <img src="public/images/sendbutton.png" style="margin-bottom: -13px;"/>
            </button>
        </div>
        
				</form>
      </div>
  </body>

</html>